Repository DarkPack13/SecondCity, pull requests merged in 2025-09, with the labels that each got.

#87 Occult artifacts ticked
  modular_darkpack/modules/deprecated/icons/items.dmi
  modular_darkpack/modules/deprecated/icons/onfloor.dmi
  modular_darkpack/modules/occult_artifacts/code/artifacts.dm
  modular_darkpack/modules/occult_artifacts/icons/artifacts.dmi
  modular_darkpack/modules/occult_artifacts/icons/artifacts_onfloor.dmi
  tgstation.dme
Labels: Sprites, Refactor, Grammar and Formatting, Code Improvement

#83 converts "racks" into `/obj/structure/rack`
  code/game/objects/structures/tables_racks.dm
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/decor/code/racks.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/000_racks.txt
Labels: Tools, Quality of Life

#80 Bubway & Bacotell countertops are now actually tables
  code/__DEFINES/icon_smoothing.dm
  icons/obj/smooth_structures/darkpack/bacotell_table.dmi
  icons/obj/smooth_structures/darkpack/bacotell_table.png
  icons/obj/smooth_structures/darkpack/bacotell_table.png.toml
  icons/obj/smooth_structures/darkpack/bubway_table.dmi
  icons/obj/smooth_structures/darkpack/bubway_table.png
  icons/obj/smooth_structures/darkpack/bubway_table.png.toml
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/decor/code/tables.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/000_store_tables.txt
Labels: Tools, Sprites, Removal, Refactor, Feature

#84 reticks wristwatch plus file org
  modular_darkpack/modules/city_time/code/clock_structure.dm
  modular_darkpack/modules/city_time/code/wrist_watch.dm
  modular_darkpack/modules/city_time/icons/clock.dmi
  modular_darkpack/modules/city_time/icons/grandpa_cock.dmi
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/deprecated/icons/clock.dmi
  modular_darkpack/modules/deprecated/icons/props.dmi
  tgstation.dme
Labels: Sprites

#81 autotiling vents
  code/__DEFINES/icon_smoothing.dm
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/decor/code/vents.dm
  modular_darkpack/modules/decor/icons/vents.dmi
  modular_darkpack/modules/decor/icons/vents.png
  modular_darkpack/modules/deprecated/icons/props.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/81_vent_typing.txt
Labels: Tools, Sprites, Feature

#88 Medical Containers
  code/modules/reagents/reagent_containers/hypospray.dm
  modular_darkpack/modules/gridventory/code/gridventory.dm
  modular_darkpack/modules/jobs/code/doctor.dm
  modular_darkpack/modules/jobs/code/fbi.dm
  modular_darkpack/modules/jobs/code/national_guard.dm
  modular_darkpack/modules/jobs/code/police.dm
  modular_darkpack/modules/storage/firstaidkit.dm
  modular_darkpack/modules/storage/icons/firstaidkit.dmi
  modular_darkpack/modules/storage/icons/firstaidkit_lefthand.dmi
  modular_darkpack/modules/storage/icons/firstaidkit_righthand.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/88_firstaidkit.txt
Labels: Tools, Sprites, Feature, Code Improvement

#70 Retail and vendor rework
  code/datums/components/payment.dm
  code/game/objects/items/food/donuts.dm
  code/game/objects/items/food/pastries.dm
  code/modules/vending/vendor/_vending.dm
  code/modules/vending/vendor/inventory.dm
  code/modules/vending/vendor/ui_data.dm
  modular_darkpack/modules/economy/code/account.dm
  modular_darkpack/modules/economy/code/stores/clothes.dm
  modular_darkpack/modules/economy/code/stores/flowers.dm
  modular_darkpack/modules/economy/code/stores/food.dm
  modular_darkpack/modules/economy/code/stores/guns.dm
  modular_darkpack/modules/economy/code/stores/misc.dm
  modular_darkpack/modules/food/code/food.dm
  modular_darkpack/modules/jobs/code/graveyard_keeper.dm
  modular_darkpack/modules/powers/code/discipline/quietus.dm
  modular_darkpack/modules/retail/code/_retail.dm
  modular_darkpack/modules/retail/code/stores/bacotell_menu.dm
  modular_darkpack/modules/retail/code/stores/black_market.dm
  modular_darkpack/modules/retail/code/stores/bubway_menu.dm
  modular_darkpack/modules/retail/code/stores/clothing_store.dm
  modular_darkpack/modules/retail/code/stores/coffee_shop.dm
  modular_darkpack/modules/retail/code/stores/costume_store.dm
  modular_darkpack/modules/retail/code/stores/flower_shop.dm
  modular_darkpack/modules/retail/code/stores/gas_station.dm
  modular_darkpack/modules/retail/code/stores/grocery_store.dm
  modular_darkpack/modules/retail/code/stores/gummaguts_menu.dm
  modular_darkpack/modules/retail/code/stores/gun_store.dm
  modular_darkpack/modules/retail/code/stores/hardware_store.dm
  modular_darkpack/modules/retail/code/stores/hot_ishu.dm
  modular_darkpack/modules/retail/code/stores/junkfood_menu.dm
  modular_darkpack/modules/retail/code/stores/library.dm
  modular_darkpack/modules/retail/code/stores/pharmacy.dm
  modular_darkpack/modules/retail/code/stores/smoke_menu.dm
  modular_darkpack/modules/retail/code/vending_product.dm
  modular_darkpack/modules/retail/icons/vendors_shops.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/RetailVendor.jsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tools/UpdatePaths/Scripts/DarkPack/70_vendor_retail.txt
Labels: Tools, Sprites, UI, Refactor

#92 Implements Blood Packs
  code/__DEFINES/mobs.dm
  code/__DEFINES/~darkpack/traits/declarations.dm
  code/__DEFINES/~darkpack/traits/macros.dm
  code/__DEFINES/~darkpack/traits/sources.dm
  code/__HELPERS/mobs.dm
  code/modules/mob/living/blood.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/vampire_the_masquerade/code/drinkable_bloodpack.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/kindred_species.dm
  modular_darkpack/modules/vitae/code/blood_bond.dm
  modular_darkpack/modules/vitae/code/blood_pack.dm
  modular_darkpack/modules/vitae/code/embracing.dm
  modular_darkpack/modules/vitae/code/ghouling.dm
  modular_darkpack/modules/vitae/code/status_effect_blood_bond.dm
  modular_darkpack/modules/vitae/code/vitae.dm
  modular_darkpack/modules/vitae/code/vitae_blood_type.dm
  modular_darkpack/modules/vitae/icons/blood_bond.dmi
  modular_darkpack/modules/vitae/icons/blood_extractor.dmi
  modular_darkpack/modules/vitae/icons/bloodpack.dmi
  modular_darkpack/modules/vitae/icons/lefthand.dmi
  modular_darkpack/modules/vitae/icons/onfloor.dmi
  modular_darkpack/modules/vitae/icons/righthand.dmi
  modular_darkpack/modules/vitae/readme.md
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/92_ blood_packs.txt
Labels: Tools, Sprites, Feature

#104 Book Reimplementation
  code/__DEFINES/~darkpack/names.dm
  modular_darkpack/modules/books/code/quran.dm
  strings/quotes/bahari.txt
  strings/quotes/islam.txt
  strings/quotes/noddist.txt
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/000_books.txt
Labels: Tools, Removal
