Repository DarkPack13/SecondCity, pull requests merged in 2025-10, with the labels that each got.

#95 Adds Masquerade System
  code/__DEFINES/~darkpack/dcs/masquerade_signals.dm
  code/__DEFINES/~darkpack/masquerade.dm
  code/__DEFINES/~darkpack/mobs.dm
  code/__DEFINES/~darkpack/traits/declarations.dm
  code/_globalvars/darkpack/lists/masquerade.dm
  code/_globalvars/darkpack/lists/miscellaneous.dm
  modular_darkpack/master_files/code/modules/mob/living/carbon/human/initialize.dm
  modular_darkpack/master_files/code/modules/mob/living/living.dm
  modular_darkpack/master_files/code/modules/mob/living/living_defines.dm
  modular_darkpack/modules/blood_drinking/code/drinksomeblood.dm
  modular_darkpack/modules/blood_drinking/code/vamp_bite.dm
  modular_darkpack/modules/jumping/code/jumper_component.dm
  modular_darkpack/modules/masquerade/code/adjust_masquerade.dm
  modular_darkpack/modules/masquerade/code/blood_hunt.dm
  modular_darkpack/modules/masquerade/code/blood_hunt_skull.dm
  modular_darkpack/modules/masquerade/code/components/masquerade_hud.dm
  modular_darkpack/modules/masquerade/code/components/violation_observer.dm
  modular_darkpack/modules/masquerade/code/fields/violation_check_aoe.dm
  modular_darkpack/modules/masquerade/code/human.dm
  modular_darkpack/modules/masquerade/code/logging_machine.dm
  modular_darkpack/modules/masquerade/code/logging_machine_soundloop.dm
  modular_darkpack/modules/masquerade/code/masquerade.dm
  modular_darkpack/modules/masquerade/code/masquerade_admin.dm
  modular_darkpack/modules/masquerade/code/masquerade_breach.dm
  modular_darkpack/modules/masquerade/code/masquerade_contract.dm
  modular_darkpack/modules/masquerade/code/masquerade_landmark.dm
  modular_darkpack/modules/masquerade/code/miscellaneous.dm
  modular_darkpack/modules/masquerade/code/subsystem/bloodhunt.dm
  modular_darkpack/modules/masquerade/code/subsystem/masquerade.dm
  modular_darkpack/modules/masquerade/code/word_checker.dm
  modular_darkpack/modules/masquerade/config/breach_word.txt
  modular_darkpack/modules/masquerade/icons/blood_hunt_skull.dmi
  modular_darkpack/modules/masquerade/icons/masquerade_contract.dmi
  modular_darkpack/modules/masquerade/icons/onfloor.dmi
  modular_darkpack/modules/masquerade/readme.md
  modular_darkpack/modules/masquerade/sound/announce.ogg
  modular_darkpack/modules/masquerade/sound/computer/computer_end.ogg
  modular_darkpack/modules/masquerade/sound/computer/computer_mid1.ogg
  modular_darkpack/modules/masquerade/sound/computer/computer_mid2.ogg
  modular_darkpack/modules/masquerade/sound/computer/computer_start.ogg
  modular_darkpack/modules/masquerade/sound/computer/license.txt
  modular_darkpack/modules/masquerade/sound/masquerade_failure.ogg
  modular_darkpack/modules/masquerade/sound/masquerade_reinforce.ogg
  modular_darkpack/modules/masquerade/sound/masquerade_violation.ogg
  modular_darkpack/modules/npcs_human/code/__npc.dm
  modular_darkpack/modules/phones/code/phone.dm
  modular_darkpack/modules/powers/code/discipline/celerity/celerity_status_effect.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/kindred_species.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/vampire_clan/__vampire_clan.dm
  tgstation.dme
Labels: Config Update, Sprites, Sound, Feature

#115 Umbra minesweeper
  modular_darkpack/modules/deprecated/icons/umbra.dmi
  modular_darkpack/modules/umbra/code/minesweeper.dm
  modular_darkpack/modules/umbra/code/umbra.dm
  modular_darkpack/modules/umbra/icons/mineswapper.dmi
  modular_darkpack/modules/umbra/icons/umbra.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/115_umbra_turf.txt
  tools/maplint/lints/~darkpack_minespots.yml
Labels: Tools, Sprites, Fix, Quality of Life

#121 Reimplements posters
  modular_darkpack/modules/decor/code/posters.dm
  modular_darkpack/modules/decor/icons/poster.dmi
  modular_darkpack/modules/decor/icons/poster_large.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/121_posters.txt
Labels: Tools, Sprites

#114 vampire food refactors and reimplementions
  code/__DEFINES/food.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/~darkpack/economy.dm
  code/datums/components/food/edible.dm
  code/game/objects/items/lighter.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/tools/wirecutters.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/power/lighting/light_mapping_helpers.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/coffee.dm
  code/modules/vending/snack.dm
  modular_darkpack/modules/deprecated/icons/32x48.dmi
  modular_darkpack/modules/deprecated/icons/items.dmi
  modular_darkpack/modules/deprecated/icons/onfloor.dmi
  modular_darkpack/modules/fishing/code/fishing.dm
  modular_darkpack/modules/food/code/drinking_glass.dm
  modular_darkpack/modules/food/code/drinks.dm
  modular_darkpack/modules/food/code/food.dm
  modular_darkpack/modules/food/code/recipes.dm
  modular_darkpack/modules/food/code/structure.dm
  modular_darkpack/modules/food/icons/drinking_glass.dmi
  modular_darkpack/modules/food/icons/food_cart.dmi
  modular_darkpack/modules/food/icons/food_onfloor.dmi
  modular_darkpack/modules/food/icons/items.dmi
  modular_darkpack/modules/food/icons/reagentfillings.dmi
  modular_darkpack/modules/food/sounds/eat.ogg
  modular_darkpack/modules/mob_spawners/code/ghost_roles/security_guard_role.dm
  modular_darkpack/modules/onfloor_icons/code/dynamic_item_icon.dm
  modular_darkpack/modules/retail/code/stores/bacotell_menu.dm
  modular_darkpack/modules/retail/code/stores/bubway_menu.dm
  modular_darkpack/modules/retail/code/stores/gas_station.dm
  modular_darkpack/modules/retail/code/stores/grocery_store.dm
  modular_darkpack/modules/retail/code/stores/gummaguts_menu.dm
  modular_darkpack/modules/retail/code/stores/junkfood_menu.dm
  modular_darkpack/modules/retail/icons/vendors_shops.dmi
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/vampire_clan/clans/tzimisce/tzimisce.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/114_food.txt
Labels: Tools, Sprites, Sound, Refactor
