Repository DarkPack13/SecondCity, pull requests merged in 2025-08, with the labels that each got.

#40 Dice rolling rework
  code/__DEFINES/~darkpack/miscellaneous.dm
  code/__DEFINES/~darkpack/storyteller_dice.dm
  modular_darkpack/modules/drugs/code/weed/hydroponics.dm
  modular_darkpack/modules/frenzy/code/frenzy.dm
  modular_darkpack/modules/powers/code/discipline/melpominee.dm
  modular_darkpack/modules/storyteller_dice/code/dice_verbs.dm
  modular_darkpack/modules/storyteller_dice/code/roll_storyteller_dice.dm
  modular_darkpack/modules/storyteller_dice/code/rolling_pref.dm
  modular_darkpack/modules/storyteller_dice/code/verbs.dm
  modular_darkpack/modules/storyteller_dice/readme.md
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/give_vitae.dm
  modular_darkpack/modules/vip_areas/code/vip_barriers/__vip_barrier.dm
  modular_darkpack/modules/weapons/code/ammostack.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/darkpack_dice.tsx
Labels: Refactor

#57 gives flakey test yml perms
  .github/workflows/rerun_flaky_tests.yml
Labels: GitHub

#14 bank accont and credit card repathing and minor refactors
  code/__DEFINES/~darkpack/economy.dm
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/living.dm
  modular_darkpack/master_files/code/modules/economy/account.dm
  modular_darkpack/modules/delivery/code/delivery_datums.dm
  modular_darkpack/modules/economy/code/atm.dm
  modular_darkpack/modules/economy/code/credit_card.dm
  modular_darkpack/modules/economy/code/economy_globals.dm
  modular_darkpack/modules/economy/icons/atm.dmi
  modular_darkpack/modules/economy/readme.md
  modular_darkpack/modules/jobs/code/anarchs/baron.dm
  modular_darkpack/modules/jobs/code/anarchs/bouncer.dm
  modular_darkpack/modules/jobs/code/anarchs/emissary.dm
  modular_darkpack/modules/jobs/code/anarchs/sweeper.dm
  modular_darkpack/modules/jobs/code/archivist.dm
  modular_darkpack/modules/jobs/code/bogatyr.dm
  modular_darkpack/modules/jobs/code/citizen.dm
  modular_darkpack/modules/jobs/code/dealer.dm
  modular_darkpack/modules/jobs/code/dispatcher.dm
  modular_darkpack/modules/jobs/code/doctor.dm
  modular_darkpack/modules/jobs/code/fbi.dm
  modular_darkpack/modules/jobs/code/giovanni.dm
  modular_darkpack/modules/jobs/code/graveyard_keeper.dm
  modular_darkpack/modules/jobs/code/hound.dm
  modular_darkpack/modules/jobs/code/janitor.dm
  modular_darkpack/modules/jobs/code/police.dm
  modular_darkpack/modules/jobs/code/priest.dm
  modular_darkpack/modules/jobs/code/primogen.dm
  modular_darkpack/modules/jobs/code/prince.dm
  modular_darkpack/modules/jobs/code/regent.dm
  modular_darkpack/modules/jobs/code/seneschal.dm
  modular_darkpack/modules/jobs/code/sheriff.dm
  modular_darkpack/modules/jobs/code/stripper.dm
  modular_darkpack/modules/jobs/code/supply_assistant.dm
  modular_darkpack/modules/jobs/code/taxi.dm
  modular_darkpack/modules/jobs/code/triad.dm
  modular_darkpack/modules/jobs/code/voivode.dm
  modular_darkpack/modules/jobs/code/zadruga.dm
  modular_darkpack/modules/kindred_of_the_east/code/kuei_jin.dm
  modular_darkpack/modules/mob_spawners/code/ghost_roles/security_guard_role.dm
  modular_darkpack/modules/vampire_the_masquerade/code/ghoul/ghoul_species.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/vampireinfo.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/garou_species.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Atm/AtmLogin.jsx
  tgui/packages/tgui/interfaces/Atm/AtmMain.jsx
  tgui/packages/tgui/interfaces/Atm/index.jsx
  tools/UpdatePaths/Scripts/DarkPack/14_card_atm.txt
Labels: Removal, Quality of Life

#67 Reimplements Doors
  code/__DEFINES/~darkpack/lockpick_difficulty.dm
  modular_darkpack/modules/cars/code/car.dm
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/delivery/code/delivery_objs.dm
  modular_darkpack/modules/doors/code/door_item.dm
  modular_darkpack/modules/doors/code/door_repair_kit.dm
  modular_darkpack/modules/doors/code/keys/keys.dm
  modular_darkpack/modules/doors/code/keys/keys_lockpick.dm
  modular_darkpack/modules/doors/code/keys/keys_npc.dm
  modular_darkpack/modules/doors/code/keys/lockpick.dm
  modular_darkpack/modules/doors/code/vampdoor.dm
  modular_darkpack/modules/doors/code/vampdoor_glass.dm
  modular_darkpack/modules/doors/code/vampdoor_misc.dm
  modular_darkpack/modules/doors/code/vampdoor_npc.dm
  modular_darkpack/modules/doors/code/vampdoor_police.dm
  modular_darkpack/modules/doors/code/vampdoor_wood.dm
  modular_darkpack/modules/doors/code/vampdoor_wood_old.dm
  modular_darkpack/modules/dwelling/code/obj_dwelling.dm
  modular_darkpack/modules/fire/code/fire.dm
  modular_darkpack/modules/graveyard/code/zombie_subsystem.dm
  modular_darkpack/modules/jumping/code/jumping.dm
  modular_darkpack/modules/kindred_of_the_east/code/chi_disciplines.dm
  modular_darkpack/modules/kindred_of_the_east/code/kuei_jin.dm
  modular_darkpack/modules/powers/code/discipline/temporis.dm
  modular_darkpack/modules/structures/code/elevator.dm
  modular_darkpack/modules/vaults/code/vaultdoors.dm
  modular_darkpack/modules/weapons/code/ammostack.dm
  modular_darkpack/modules/weapons/code/melee.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/gifts.dm
  modular_darkpack/modules/z_travel/code/transfer_point.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/67_doors.txt
Labels: Tools, Refactor, Fix, Quality of Life

#77 fix readme
  README.md
Labels: Fix

#75 Adds jumping
  code/__DEFINES/~darkpack/dcs/signals_mob/signals_mob_living.dm
  code/_onclick/click.dm
  modular_darkpack/master_files/code/modules/mob/living/carbon/human/initialize.dm
  modular_darkpack/master_files/code/modules/mob/living/living_defines.dm
  modular_darkpack/modules/blood_drinking/code/movable_screens/blood_hud.dm
  modular_darkpack/modules/blood_drinking/code/movable_screens/drinkblood_hud.dm
  modular_darkpack/modules/blood_drinking/icons/bloodpool.dmi
  modular_darkpack/modules/blood_drinking/icons/drink_blood_hud.dmi
  modular_darkpack/modules/jumping/code/crack_effect.dm
  modular_darkpack/modules/jumping/code/jump_ui_button.dm
  modular_darkpack/modules/jumping/code/jumper_component.dm
  modular_darkpack/modules/jumping/code/jumping.dm
  modular_darkpack/modules/jumping/code/jumping_hud.dm
  modular_darkpack/modules/jumping/icons/ground_crack.dmi
  modular_darkpack/modules/jumping/icons/jumping_icon.dmi
  modular_darkpack/modules/jumping/sounds/jump_neutral.ogg
  modular_darkpack/modules/jumping/sounds/jump_slam.ogg
  tgstation.dme
Labels: Map Edit, Sprites, Sound, Removal, Refactor, Feature
