Repository DarkPack13/SecondCity, pull requests merged in 2025-07, with the labels that each got.

#5 UpdatePaths for wirecutters
  tools/UpdatePaths/Scripts/DarkPack/1_manholes.txt
  tools/UpdatePaths/Scripts/DarkPack/5_flav_wirecutters.txt
Labels: Tools

#12 hopefully fixes ticked file enforcement + define_sanity checks on modular files
  .github/workflows/run_linters.yml
  tools/define_sanity/check.py
  tools/ticked_file_enforcement/schemas/modular_darkpack.json
  tools/ticked_file_enforcement/ticked_file_enforcement.py
Labels: GitHub

#8 dollar counts as money more often
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/global_lists.dm
  code/modules/paperwork/fax.dm
  modular_darkpack/modules/economy/code/atm.dm
  modular_darkpack/modules/economy/code/dollar.dm
  modular_darkpack/modules/structures/code/decor.dm
Labels: Fix, Quality of Life

#9 Better Fluff Pathing and reticks decor
  modular_darkpack/master_files/code/game/objects/matrix.dm
  modular_darkpack/modules/auras/code/aura.dm
  modular_darkpack/modules/decor/code/decals.dm
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/decor/code/flags.dm
  modular_darkpack/modules/decor/code/signs_city.dm
  modular_darkpack/modules/decor/code/trash.dm
  modular_darkpack/modules/decor/icons/cabaret.dmi
  modular_darkpack/modules/decor/icons/city_sign.dmi
  modular_darkpack/modules/decor/icons/flags.dmi
  modular_darkpack/modules/decor/icons/store_sign.dmi
  modular_darkpack/modules/deprecated/icons/32x64.dmi
  modular_darkpack/modules/deprecated/icons/props.dmi
  modular_darkpack/modules/vaults/code/drill.dm
  modular_darkpack/modules/walls/code/wallcode.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/totems.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/9_dumb_fluff.txt
Labels: Fix, Quality of Life

#28 Implement aggravated damage
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/~darkpack/aggravated_damage.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/components/dejavu.dm
  code/modules/admin/tag.dm
  code/modules/admin/topic.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/boss/boss.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/full_heal.dm
  code/modules/unit_tests/mob_damage.dm
  modular_darkpack/master_files/code/datums/components/dejavu.dm
  modular_darkpack/master_files/code/modules/mob/living/carbon/human/life.dm
  modular_darkpack/master_files/code/modules/mob/living/carbon/human/physiology.dm
  modular_darkpack/master_files/code/modules/mob/living/living_defines.dm
  modular_darkpack/master_files/code/modules/surgery/bodyparts/_bodyparts.dm
  modular_darkpack/modules/aggravated_damage/code/damage_procs.dm
  modular_darkpack/modules/aggravated_damage/readme.md
  modular_darkpack/modules/kindred_of_the_east/code/chi_disciplines.dm
  modular_darkpack/modules/kindred_of_the_east/code/kuei_jin.dm
  modular_darkpack/modules/powers/code/discipline/bloodheal.dm
  modular_darkpack/modules/powers/code/discipline/healer_valeren.dm
  modular_darkpack/modules/powers/code/discipline/necromancy.dm
  modular_darkpack/modules/vampire_the_masquerade/code/blood_sorcery/pyramid.dm
  modular_darkpack/modules/vampire_the_masquerade/code/ghoul/ghoul_species.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/vampire_clan/clans/tzimisce/needs_home_soil.dm
  modular_darkpack/modules/walls/code/wallcode.dm
  modular_darkpack/modules/weapons/code/ammostack.dm
  modular_darkpack/modules/weapons/code/melee.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/transformation.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/werewolf_mobs/werewolf.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/werewolf_mobs/werewolf_defense.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/gifts.dm
  tgstation.dme
Labels: SQL, Refactor, Unit Tests

#38 Skills Rework
  code/__DEFINES/~darkpack/storyteller_traits.dm
  code/__DEFINES/~darkpack/traits.dm
  modular_darkpack/master_files/code/modules/mob/living/living.dm
  modular_darkpack/master_files/code/modules/mob/living/living_defines.dm
  modular_darkpack/modules/archetypes/code/archetypes.dm
  modular_darkpack/modules/cars/code/car.dm
  modular_darkpack/modules/doors/code/vampdoor.dm
  modular_darkpack/modules/drugs/code/weed/hydroponics.dm
  modular_darkpack/modules/jobs/code/hunter.dm
  modular_darkpack/modules/jobs/code/national_guard.dm
  modular_darkpack/modules/jobs/code/swat.dm
  modular_darkpack/modules/jumping/code/jumping.dm
  modular_darkpack/modules/kindred_of_the_east/code/chi_disciplines.dm
  modular_darkpack/modules/kindred_of_the_east/code/kuei_jin.dm
  modular_darkpack/modules/npcs_human/code/socialroles/__socialrole.dm
  modular_darkpack/modules/powers/code/discipline/animalism.dm
  modular_darkpack/modules/powers/code/discipline/dementation.dm
  modular_darkpack/modules/powers/code/discipline/dominate.dm
  modular_darkpack/modules/powers/code/discipline/melpominee.dm
  modular_darkpack/modules/powers/code/discipline/necromancy.dm
  modular_darkpack/modules/powers/code/discipline/presence.dm
  modular_darkpack/modules/storyteller_traits/code/_traits.dm
  modular_darkpack/modules/storyteller_traits/code/trait_holder.dm
  modular_darkpack/modules/storyteller_traits/code/traits/abilities.dm
  modular_darkpack/modules/storyteller_traits/code/traits/attributes.dm
  modular_darkpack/modules/storyteller_traits/readme.md
  modular_darkpack/modules/vampire_the_masquerade/code/blood_power.dm
  modular_darkpack/modules/vampire_the_masquerade/code/ghoul/ghoul_species.dm
  modular_darkpack/modules/vampire_the_masquerade/code/kindred/vampireinfo.dm
  modular_darkpack/modules/vip_areas/code/vip_barriers/__vip_barrier.dm
  modular_darkpack/modules/weapons/code/ammostack.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/garou_species.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/garou/transformation.dm
  modular_darkpack/modules/werewolf_the_apocalypse/code/gifts.dm
  tgstation.dme
Labels: Refactor, Feature

#45 Better Tree Paths
  modular_darkpack/modules/decor/code/decor.dm
  modular_darkpack/modules/decor/code/flora.dm
  modular_darkpack/modules/decor/icons/pines.dmi
  modular_darkpack/modules/decor/icons/trees.dmi
  modular_darkpack/modules/fire/code/fire.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/DarkPack/45_tree.txt
Labels: Refactor, Balance

#51 disables random events and station traits in config
  config/game_options.txt
Labels: Config Update
